/*-- scss:defaults --*/

/* TODO: Customize presentation appearance by setting SCSS variables */
/* See https://quarto.org/docs/presentations/revealjs/themes.html#customizing-themes */

// colors
$body-bg: #fff !default;
$body-color: #222 !default;
$text-muted: lighten($body-color, 50%) !default;
$link-color: #602684 !default;
$link-color-hover: lighten($link-color, 20%) !default;
$code-color: #901C6C !default;

$light-bg-text-color: #222;
$light-bg-link-color: #602684 !default;
$light-bg-code-color: #901C6C !default;
$dark-bg-text-color: #fff !default;
$dark-bg-link-color: lighten($link-color, 50%) !default;
$dark-bg-code-color: lighten($code-color, 50%) !default;

//width

$border-leftright-width: 80px;
$border-updown-width: 40px;

/* TODO: Provide custom CSS rules */
/*-- scss:rules --*/
.reveal pre code {
  background-color: #ececec;
  font-size: 1.5em;
  padding: 0.5em;
  line-height: 1.2em;
}

.subtitle {
  font-size: $presentation-h2-font-size;
  font-family: $presentation-heading-font;
}

.author {
  font-size: $presentation-h2-font-size;
  font-family: $presentation-heading-font;
}

.footer {
  font-family: $presentation-heading-font;
}

.reveal .slide-number {
  font-family: $presentation-heading-font;
}

.reveal .panel-tabset [role=tab] {
    font-size: 0.8em;
}

.reveal .footer {
    color: #9d709e;
}

.reveal .footer-image-right {
  position: absolute !important;
  bottom: 0 !important;
  left: 5% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.center-x{
    text-align: center;
}

section.has-dark-background a, section.has-dark-background a:hover {
    color: #fff;
}

$slide-width: calc(var(--slide-width) + #{$border-leftright-width} * 2);
$slide-height: calc(var(--slide-height) + #{$border-updown-width} * 2);

@mixin full-screen {
  position: absolute;
  top: -$border-updown-width;
  left: -$border-leftright-width;
  height: $slide-height !important;
  width: $slide-width !important;
  max-height: $slide-height !important;
  max-width: $slide-width !important;
  margin: 0 !important;
  z-index: -1;
}

.quarto-light {
  background-color: #fff;
}

.quarto-dark {
  background-color: #901C6C;
}

html.print-pdf .quarto-light {
  background-color: $body-bg;
}

html.print-pdf .quarto-dark {
  background-color: $body-bg;
}

.image-left {
  @include full-screen;
  left: -$border-leftright-width;
  width: $slide-width / 2 !important;
  max-width: $slide-width / 2 !important;
}

.image-right {
  @include full-screen;
  right: -$border-leftright-width;
  width: $slide-width / 2 !important;
  max-width: $slide-width / 2 !important;
}

.slide-logo {
  display: block !important;
  position: fixed !important;
  bottom: 0 !important;
  right: 10px !important;
  max-height: 8% !important;
  height: 50% !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-number, .reveal.has-logo .slide-number {
  top: 0 !important;
  right: 10px !important;
  top: unset !important;
  color: $body-color !important;
}