/*-- scss:defaults --*/

/* TODO: Customize presentation appearance by setting SCSS variables */
/* See https://quarto.org/docs/presentations/revealjs/themes.html#customizing-themes */

// colors
$body-bg: #fff !default;
$body-color: #222 !default;
$text-muted: lighten($body-color, 50%) !default;
$link-color: #602684 !default;
$link-color-hover: lighten($link-color, 20%) !default;
$code-color: #901C6C !default;

$light-bg-text-color: #222;
$light-bg-link-color: #602684 !default;
$light-bg-code-color: #901C6C !default;
$dark-bg-text-color: #fff !default;
$dark-bg-link-color: lighten($link-color, 50%) !default;
$dark-bg-code-color: lighten($code-color, 50%) !default;


/* TODO: Provide custom CSS rules */
/*-- scss:rules --*/
.reveal pre code {
  background-color: #ececec;
  font-size: 1.5em;
  padding: 0.5em;
  line-height: 1.2em;
}

.subtitle {
  font-size: $presentation-h2-font-size;
  font-family: $presentation-heading-font;
}

.author {
  font-size: $presentation-h2-font-size;
  font-family: $presentation-heading-font;
}

.footer {
  font-family: $presentation-heading-font;
}

.reveal .slide-number {
  font-family: $presentation-heading-font;
}

.reveal .panel-tabset [role=tab] {
    font-size: 0.8em;
}

.reveal .footer {
    color: #9d709e;
}


.center-x{
    text-align: center;
}

section.has-dark-background a, section.has-dark-background a:hover {
    color: #fff;
}

.slide-logo {
  display: block !important;
  position: fixed !important;
  bottom: 0 !important;
  right: 10px !important;
  max-height: 8% !important;
  height: 50% !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-number, .reveal.has-logo .slide-number {
  top: 0 !important;
  right: 10px !important;
  top: unset !important;
  color: $body-color !important;
}